.videocard {
    color: white;
    width: 500px;
    height: 400px;
    padding: 20px;
    cursor: pointer;
    transition: transform 100ms;
}

.videocard:hover {
    transform: scale(1.09);
}

.videocard > img {
    width: 500px;
    height: 300px;

 
}


.videocard > h2 {
    padding-top: 10px;
}